---
import { SITE_TITLE, SITE_LOGO_URL } from "@siteConfig";
---
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/basic.css">
    <title>合成大西瓜 - {SITE_TITLE}</title>
    <link rel="icon" href={SITE_LOGO_URL} type="image/png">
    <link rel="stylesheet" href="/assets/css/cursor.css">
    <script is:inline src="/assets/js/cursor-trail.js"></script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js"></script>
    <link rel="stylesheet" href="/assets/pages/games/xigua/xigua.css">
</head>

<body>
    <div id="stats">
        <div>得分: <span id="score">0</span></div>
        <div>次数: <span id="clickCount">0</span></div>
    </div>
    <div id="preview">
        <div>下一个水果:</div>
        <div id="nextFruitPreview" style="font-size: 40px;"></div>
    </div>
    <div class="game-over" id="gameOver">
        <h2>游戏结束!</h2>
        <p>最终得分: <span id="finalScore">0</span></p>
        <p>总次数: <span id="finalClickCount">0</span></p>
        <button onclick="location.reload()">再玩一次</button>
    </div>

    <script is:inline src="/assets/pages/games/xigua/xigua.js"></script>
    <script is:inline src="/assets/js/disable-right-click.js"></script>
</body>

</html>