<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>页面标题 - 夸克博客</title>
    <link rel="icon" href="/assets/img/logo_blue.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/basic.css">
    <link rel="stylesheet" href="/assets/css/cursor.css">
    <script src="/assets/js/cursor-trail.js"></script>
    <script src="/assets/js/nav.js"></script>
    <link rel="stylesheet" href="/assets/css/nav.css">

    
    <script src="/assets/js/disable-right-click.js"></script>
</head>

<!--其他说明详见 网页模板说明.md -->

<body>


</body>

</html>