/* style.css */
body {
    font-family: '微软雅黑', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
.header {
    background: linear-gradient(to bottom, rgba(0,123,255,1), rgba(0,123,255,0));
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    position: fixed;       /* 固定位置 */
    top: 0;                /* 距离顶部为0 */
    left: 0;               /* 距离左侧为0 */
    z-index: 1000;         /* 确保它位于其他内容之上 */
}
.nav {
    background-color: #e7f3ff;
    padding: 10px 20px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    display: inline;
    margin-right: 20px;
}
.nav ul li a {
    color: #007bff;
    text-decoration: none;
}
.nav ul li a:hover {
    text-decoration: underline;
}
.nav ul li a.active {
    background-color: #99ddf3;
    padding: 5px 10px;
    border-radius: 5px;
}
.content {
    border-radius: 30px;
    margin: 12px;
    padding: 12px;
    background-color: #fff;
}
.article-list {
    font-size: 1.2em;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
}
.article-link {
    text-decoration: none;
    color: #007bff;
    display: block;
    margin-bottom: 10px;
}
.article-link:hover {
    text-decoration: underline;
}
.footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.moren {
    line-height: 1.3em; 
    margin-bottom: 1.3em;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 12px;
    margin: 12px;
}
.centered-div {
    width: 100%; /* div宽度设置为100% */
    text-align: center; /* 使div内的内容居中 */
}
.centered-div img {
    width: 70%; /* 图片宽度设置为div宽度的70% */
    height: auto; /* 图片高度自适应，保持宽高比 */
}
  .circle-image {
    width: 200px; /* 设置图片显示的宽度 */
    height: 200px; /* 设置图片显示的高度 */
    border-radius: 50%; /* 使图片变成圆形 */
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* 添加阴影效果 */
    overflow: hidden; /* 防止图片超出圆形区域 */
    text-align: center;
  }
  img {
    width: 100%; /* 使图片填充整个容器 */
    height: auto; /* 高度自适应 */
  }
