<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link rel="stylesheet" href="/assets/css/basic.css" />
    <title>登录回调 - 夸克博客</title>
    <link rel="icon" href="/assets/img/logo_blue.png" type="image/png" />
    <script is:inline>
      const urlParams = new URLSearchParams(window.location.search);
      const code = urlParams.get("code");
      if (code) {
        localStorage.setItem("github_code", code);
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <p>登录中...</p>
    <script is:inline src="/assets/js/disable-right-click.js"></script>
  </body>
</html>
